{
  "env": {
    "dev": {
      "presets": [
        "es2015-rollup",
        "react"
      ],
      "plugins": [
        "external-helpers"
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "react"
      ]
    }
  }
}